<h1>Editing Food</h1>
	<br>
		<%= render 'form', food: @food %>

	<div>
		<%= link_to 'Ver', @food, class: "btn btn-primary text-white" %> 
		<%= link_to 'Volver', foods_path, class: "btn btn-secondary text-white" %>
	</div>
