<h1>Editing Category</h1>

<%= render 'form', category: @category %>
<br>

<%= link_to 'Ver', @category, class: "btn btn-info text-white" %> |
<%= link_to 'Volver', categories_path, class: "btn btn-secondary text-white" %>
