
<div id="login">
    <div class="container">
        <div id="login-row" class="row justify-content-center align-items-center">
            <div id="login-column" class="col-md-6">
                <div id="login-box" class="col-md-12">
                  <form id="login-form" class="form" action="" method="post">

                    <%= render 'form', category: @category %>

                    <%= link_to 'Back', categories_path %>


                  </form>
                </div>
            </div>
      </div>
    </div>
</div>
